<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= task.memo %>
  </p>

  <p>
    <strong>Checked:</strong>
    <%= task.checked %>
  </p>

</div>
